.divHeader{
    background-color: lightgray;
}

.header{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #007bff;
    width:100vw;
    color:#FFF;
    text-align: center;
}

.header:hover{
    color:#FFF;
    background-color: #0062ca;
}